<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sileo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8EE3DE8D9F3F2FF3F39862301141CD86E8C38AB4</string>
				<key>dateExpires</key>
				<string>2024/01/02</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M73S859JB7.org.coolstar.SileoStore</string>
				<key>com.apple.developer.team-identifier</key>
				<string>M73S859JB7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Sileo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>89f68e28-09c6-4d94-9373-e0d7b5fad9db</string>
				<key>dateExpires</key>
				<string>2024/01/06</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M73S859JB7</string>
				<key>name</key>
				<string>Eunsae Rha</string>
			</dict>
			<key>versionNumber</key>
			<string>2.4</string>
		</dict>
	</array>
</dict>
</plist>
